.main {
  display: flex;
  gap: 40px;
  width: 100%;
  margin-top: 64px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.left {
  flex: 1;
  width: calc(100vw - 256px - 40px - 160px);
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.right {
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
  flex-basis: 256px;
}

.tinkoff {
  width: 256px;
  height: 512px;
  background-color: yellow;
  border-radius: 20px;
}

.title {
  font: var(--font-h2);
  margin-bottom: 28px;
}
